html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.page-content {
    padding: 5%;
    align-items: center;
}
.question-card-wide.mdl-card {
    width: 100%;
    margin-bottom: 5%;
    padding: 5% 5% 0%;

}

.question-form {
    width: 100%;
    margin-bottom: 0%;
}

.answer-card-wide.mdl-card {
    width: 100%;

}
.answer-card-wide > .mdl-card__title {
    color: #000;
    height: 5%;
}
.answer-card-wide > .mdl-card__menu {
    color: #fff;
}